header {
	padding: 0px;
	text-align: center;
	background: url("../pattern1.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: -23px;
}

h1{
	font-size: 64px;
	color:white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-weight: 400;
	letter-spacing: 3px;
	margin-bottom: -12px;
	margin-top: 0;
	margin: auto;
	position: relative;
	top: 38%;
	text-shadow: -1.5px 1px #f299bb;
}

h2{
	font-size: 24px;
	color:#F61820;
	font-weight: 400;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	letter-spacing: 2px;
	position: relative;
	top: 37%;
}

body{
  	margin: 0px;
}

h3{
	font-size: 23px;
	color:#E8E8E8;
	text-align: center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	letter-spacing: 1.4px;
	font-weight: 200;
	line-height: 34px;
	padding-top: 132px;
	padding-bottom: 132px;
	padding-right: 30%;
	padding-left: 30%;
	text-align: justify;  
	text-align-last: justify;
}

.headline {
	background-color:#F61820; 
}

.images {
	margin-top: -23px;
}

footer {
	padding: 0px;
	text-align: center;
	background: url("../pattern2.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h4{
	font-size: 36px;
	color:#F61820;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-weight: 430;
	letter-spacing: 3px;
}

.h5{
	font-size: 20px;
	color:#F61820;
	text-align: center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	letter-spacing: 1px;
	font-weight: 200;
	line-height: 11px;
	text-align: justify-all;
}
