body{
	background-color: lightgrey;
}

h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 80px;
	font font-weight: semibold;
	align-self: center;
}

h2{
	font-size: 22px;
	color:green;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}

#first{
	font-size: 150px;
}

.small{
	font-size: 12px;
}